<h1>Marks for <%= @athlete.name %></h1>

<!-- TODO: add form -->

<% @marks.sort_by(&:created_at).each do |mark| %>
	<%= render "edit_form", athlete: @athlete, mark: mark %>
<% end %>

<script>

	$(function () {
		
	});

</script>