<h1>Welcome</h1>
<h3>Please log in</h3>
<form action=<%= session_url %> method="POST">
	<%= auth_token %>
		 
	<label for="username">Username:</label>
	<input name="user[username]" id="username" type="text">
	<br>
	
	<label for="password">Password:</label>
	<input name="user[password]" id="password" type="password">
	<br>
	
	<input name="Log in" type="submit">
</form>