<h1>Welcome</h1>

<form action=<%= session_url %> method="POST">
	<%= auth_token %>
	
	<input type="hidden" name="user[username]" value="octf">
	
	<div class="input">
		<label for="password">1, 2, 3...</label>
		<input name="user[password]" id="password" type="password">
	</div>
	
	<input value="Log in" type="submit">
</form>

<div class="github-button">
	<a href="http://github.com/alexqguo/octf"></a>
	<a href="<%= demo_url%>">Demo</a>
</div>