<div class="box group">
	<h3>All Athletes:</h3>

	<% if current_user.admin? %>
		<%= link_to "Add Athlete", new_athlete_url %>
	<% end %>

	<div class="males">
		<ul>
			<% @males.each do |athlete| %>
				<%= render "athlete_list_el", athlete: athlete %>
			<% end %>
		</ul>
	</div>

	<div class="females">
		<ul>
			<% @females.each do |athlete| %>
				<%= render "athlete_list_el", athlete: athlete %>
			<% end %>
		</ul>
	</div>
</div>