<div class="box group">
	<h1>
		Athletes
		<% if is_admin? %>
			<a class="small-link" href="<%= new_athlete_url %>">Add Athlete</a>
		<% end %>
	</h1>

	<div class="males">
		<ul>
			<% @males.each do |athlete| %>
				<%= render "athlete_list_el", athlete: athlete %>
			<% end %>
		</ul>
	</div>

	<div class="females">
		<ul>
			<% @females.each do |athlete| %>
				<%= render "athlete_list_el", athlete: athlete %>
			<% end %>
		</ul>
	</div>
</div>