<h3>All Athletes:</h3>

<ul>
	<% @athletes.each do |athlete| %>
		<div class="athlete-list-el">
			<li><a href="<%= athlete_url(athlete) %>"><%= athlete.name %></a></li>
		</div>
	<% end %>
</ul>

<br>
