<h3>All Athletes:</h3>

<div class="males">
	<ul>
		<% @males.each do |athlete| %>
			<%= render "athlete_list_el", athlete: athlete %>
		<% end %>
	</ul>
</div>

<div class="females">
	<ul>
		<% @females.each do |athlete| %>
			<%= render "athlete_list_el", athlete: athlete %>
		<% end %>
	</ul>
</div>