<h1>New Athlete</h1>

<form action="<%= athletes_url %>" method="POST">
	<%= auth_token %>
	
	<div class="input">
		<label for="name">Name</label>
		<input id="name" name="athlete[name]">
	</div>
	
	<label>
		Male
		<input type="radio" name="athlete[gender]" value="m">
	</label>
	
	<label>
		Female
		<input type="radio" name="athlete[gender]" value="f">
	</label>
	
	<br><br><input type="submit" value="Create Athlete!">
	
</form>