<div class="box">

	<h1>Welcome</h1>

	<div style="color: red">The site experiencing problems right now. I'll try to get it fixed as soon as I can</div>

	<p>
		Feel free to poke around, and let me know if anything isn't working or if you have any thoughts!<br>
		You can check out the source for this project <a href="http://github.com/alexqguo/octf" target="_blank">here</a>.
	</p>

	<div class="email homebox">

		<h3>Send me an email!</h3>

		<form action="<%= send_email_url %>" method="POST">
			<%= auth_token %>

			<div class="email-input">
				<label for="from">Name</label>
				<input type="text" id="from" name="email[from]">
			</div>

			<div class="email-input">
				<label for="subject">Subject</label>
				<input type="text" id="subject" name="email[subject]">
			</div>

			<div class="email-input">
				<label for="body">Body</label>
				<textarea id="body" name="email[body]"></textarea>
			</div>

			<input type="submit" value="Send">
		</form>
	</div>

</div>