/* colors */

$crimson: #be0f0f;
$fadedYellow: #ffffb9;
$gold: #fae902;
$blue: #3f94dc;
$light-gray: #eeeeee;
$lightest-gray: #f6f6f6;
$dark-white: #fefefe;
$dark-gray: #999999;
$gray: #cccccc;
$white: #ffffff;
$black: #000000;