/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* Navigation Bar */
header nav h1 ul li {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

header nav ul {
	list-style-type: none;
}

.header-wrap {
	background: #202020;
	border-bottom: 3px solid #A00000;
  	color: white;
}

.navbar {
	height: 60px;
	margin: 0px auto;
	border-top: 4px solid #A00000;
	border-left: 4px solid #A00000 ;
	border-right: 4px solid #A00000;
}

.nav-list {
	float: right;
}

.logo {
	margin: 5px;
	padding-left: 10px;
	float: left;
	font-size: 40px;
}

.nav-list-item {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
  	border-left: 3px solid #333;
}

.nav-list-item a {
	display: block;
	padding: 5px;
    color: white;
    text-decoration: none;
}

.nav-list-item form input {
	border-radius: 2px;
	border: 2px solid #333;
	
	color: white;
	cursor: pointer;
	background-color: #202020;

	font-size: 14px;
}
.navbar:after {
  	clear: both;
 	content: "";
  	display: block;
}

