/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
Red color: BE0F0F
Gold: #FAE902
*/


html, body, header, nav, h1, ul, li, div, footer, form, input {
  border: 0px;
  margin: 0px;
  padding: 0px;
	
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #fff; 
	font-family: 'Source Sans Pro', sans-serif;
}

body > #container {
	height: auto;
	min-height: 100%;
}

header nav ul {
	list-style-type: none;
}

.header-wrap {
	width: 100%;
	background: rgb(180, 20, 20);
}

.navbar {
	height: 60px;
	width: 1000px;
	margin: 0px auto;
	font-weight: 100;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.nav-list {
	float: right;
}

.logo {
	margin: 5px;
	padding-left: 10px;
	float: left;
	font-size: 40px;
}

.nav-list-item {
	float: left;
	width: 120px;
	height: 60px;
	
	text-align: center;
	border-left: 1px solid black;
}

.nav-list-item a {
	display: block;
	padding: 20px 0;
  text-decoration: none;
  color: white;
}

.nav-list-item form {
	height: 0;
	width: 0;
}

.nav-list-item input[type="submit"] {
	-webkit-appearance: none;
	outline: none;
	background: transparent;
	
	border: none;
	color: white;
	font: inherit;
	
	height: 60px;
	width: 120px;
}

.nav-list-item input[type="submit"]:hover {
	cursor: pointer;
	color: black;
}

.nav-list-item:hover, .nav-list-item:hover a {
	background: #FAE902;
	color: black;
}

.group:after {
  clear: both;
 	content: "";
  display: block;
}

.debug_dump {
	clear: both;
}

#container {
	width: 1000px;
	margin: 10px auto
}