// Place all the styles related to the Athletes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fadedYellow: #ffffb9;

.athlete-list-el {
	/* For button to athlete page from athletes index */
	font-weight: 300;
	list-style-type: none;
	margin: 7px 7px 7px 0;

	a {
		color: black;
		text-decoration: none;
		padding: 0 5px;
		border-radius: 3px;
		transition: 0.2s;

		&:hover {
			background: $fadedYellow;
			text-decoration: none;
		}
	}
}

.males {
	float: left;
	width: 250px;
}

.females {
	margin-left: 200px;
	padding-bottom: 30px;
	float: left;
}

.details {
	margin-top: -10px;
	margin-left: 30px;
	margin-bottom: 30px;
	font-size: 14px;
}

.event-list {
//	background: red;
}

.event-list-item {
	float: left;
	padding: 10px 15px;
	margin: 5px;
	
	background: #BE0F0F;
	color: white;
	border-radius: 2px;
	
	transition: 0.1s;
}

.event-list-item:hover {
	cursor: pointer;
	background: #FAE902;
	color: black;
}

.green-background {
	background: lightgreen;
	transition: 0.5s;
}

.no-transition {
	transition: 0 !important;
}

.form-transition {
	transition: 0.2s;
}