// Place all the styles related to the Athletes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.athlete-list-el {
	/* For button to athlete page from athletes index */
	font-weight: 300;
	list-style-type: none;
	margin: 7px;
	margin-left: 0px;
}

.athlete-list-el a {
	border-radius: 3px;
	color: black;
	text-decoration: none;
}

.males {
	float: left;
}

.females {
	margin-left: 200px;
	float: left;
}
