// Place all the styles related to the Athletes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "vars";

.athlete-list-el {
	/* For button to athlete page from athletes index */
	font-weight: 300;
	list-style-type: none;
	margin: 7px 7px 7px 0;

	a {
		color: black;
		text-decoration: none;
		padding: 0 5px;
		border-radius: 3px;
		transition: 0.2s;

		&:hover {
			background: $fadedYellow;
			text-decoration: none;
		}
	}
}

.males {
	float: left;
	width: 250px;
}

.females {
	margin-left: 200px;
	float: left;
}

.details {
	margin-left: 30px;
	margin-bottom: 30px;
	font-size: 14px;
}

.event-list-item {
	float: left;
	padding: 7px 10px;
	margin: 5px;
	font-size: 14px;
	font-weight: 300;
	
	background: $crimson;
	color: $white;
	border-radius: 2px;
	
	transition: 0.1s;

	&:hover {
		cursor: pointer;
		background: $gold;
		color: $black;
	}
}

.green-background {
	background: lightgreen;
	transition: 0.5s;
}

.no-transition {
	transition: 0 !important;
}

.form-transition {
	transition: 0.2s;
}