/*

	Core SCSS file

	Will contain colors, mixins, etc. and basic styles for the entire site

*/

@import "vars";

html, body, header, nav, h1, h3, ul, li, div, footer, form, input, a, select, label, textarea {
	border: 0;
	margin: 0;
  	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: $lightest-gray; 
	font-family: 'Roboto', Arial, sans-serif;
}

#container {
	height: auto;
	width: 1000px;
	min-height: 100%;
	margin: 10px auto;
	padding: 0 15px;
}

.group:after {
	clear: both;
 	content: "";
	display: block;
}

.box {
	background: $dark-white;
	padding: 20px;
	margin: 10px;
	border: 1px solid $light-gray;
	border-radius: 4px;

	box-shadow: 0px 0px 1px $crimson; /* change this back to light-gray? */
}

h1 {
	font-size: 42px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	margin: 15px 0;
}

ul {
	list-style-type: none;
}

a {
	color: #3F94DC;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.invisible {
	display: none;
}

textarea {
	font: inherit;
}

select {
	outline: none;
	background: $lightest-gray;
	border-radius: 2px;
}

.homebox {
	border-top: 1px solid $gray;
	margin: 20px 0;
}

.flash-notice {
	font-weight: 200;
	padding: 10px 15px;
	background: #96FF96;
	border: 1px solid lime;
	border-radius: 5px;
	margin: 10px 0;
}

.flash-error {
	font-weight: 200;
	padding: 10px 15px;
	background: #FFB9B9;
	border: 1px solid red;
	border-radius: 5px;
	margin: 10px 0;
}

.edit-form-list {
	margin-top: 20px;
}

.edit-delete-forms {
	float: left;
}

.flt-right {
	float: right;
}

.flt-left {
	float: left;
}

.delete-mark-form {
	display: inline;
	position: relative;
	top: -20px;
	right: -40px;
}

.season-radio {
	display: inline;
	margin-left: 60px;
}

.input {
	margin: 20px 0;
	width: 270px;

	select {
		float: right;
	}
}

.input input, .inline-input input {
	float: right;
	border: 1px solid $gray;
	height: 15px;
	width: 170px;
	
	padding: 5px 10px;
	border-radius: 3px;
	outline: none;
	transition: 0.2s;
}

.inline-input input {
	float: left;
	width: 155px;
	margin-right: 10px;
}

.email-input {
	margin: 20px 0;

	label {
		display: inline-block;
		width: 75px;
		vertical-align: top;
	}

	input, textarea {
		width: 400px;
		border: 1px solid $gray;
		padding: 5px 10px;
		border-radius: 3px;
		outline: none;
		transition: 0.2s;
	}

	textarea {
		height: 80px;
	}
}

.input input:focus, .inline-input input:focus, .email-input input:focus, .email-input textarea:focus {
	border: 1px solid $dark-gray;
	box-shadow: 0 0 3px $blue;
}


form {

	input[type="submit"] {
		background: none;
		color: $blue;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	input[type="radio"] {
		margin-left: 3px;
		margin-right: 10px;
	}
}

header nav ul {
	list-style-type: none;
}

.header-wrap {
	width: 100%;
	background: $white;
}

.navbar {
	height: 45px;
	min-width: 800px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-bottom: 20px;

	.logo {
		margin: 4px;
		padding-left: 10px;
		float: left;
		font-size: 30px;

		a {
			text-decoration: none;
			color: $black;
		}
	}

	.chosen-form {
		float: left;
		margin: 13px 0 0 10px;

		input[type="submit"] {
			color: $black;
		}
	}

	.navlist {
		float: right;

		.navlist-item {
			float: left;
			margin-top: 14px;
			padding: 0 12px;
			opacity: 0.7;
			transition: 0.2s;

			&:hover {
				opacity: 1;

				a {
					border-bottom: 2px solid $gold;
				}
			}

			a {
				color: $black;
				text-decoration: none;
				padding-bottom: 8px;
				border-bottom: 2px solid transparent;
				transition: 0.2s;
			}

			input[type="submit"] {
				color: $black;
				-webkit-appearance: none;
				background: transparent;
				transition: 0.2s;

				padding-bottom: 8px;
				border-bottom: 2px solid transparent;

				&:hover {
					cursor: pointer;
					text-decoration: none;
					border-bottom: 2px solid $gold;
				}
			}
		}

		.selected {
			opacity: 1;

			a {
				font-weight: 500;
				border-bottom: 2px solid $crimson;
			}

			&:hover {
				a {
					border-bottom: 2px solid $crimson;
				}
			}
		}
	}
}

.github-button {
	width: 30px;
	height: 30px;
	background-image: url('github-icon.png');
	background-size: 30px 30px;
	
	position: relative;
	top: 100px;

	a {
		width: inherit;
		height: inherit;
		display: block;
	}
}