body {
	background-color: white; 
	font-family: Georgia, serif;
}

.athlete-list {
	/* For button to athlete page from athletes index */
	margin: 7px;
}

.athlete-list a {
	border-radius: 3px;
	border: 1px solid black;
	text-decoration: none;
/*	color: #FFFF44; Yellowish */
}